annotated-types==0.7.0
bsdiff4==1.2.4
colorama==0.4.6
ordered-set==4.1.0
protobuf==3.20.1
pydantic==2.10.6
pydantic_core==2.27.2
pyfiglet==1.0.2
shtab==1.7.1
six==1.16.0
termcolor==2.5.0
typing_extensions==4.12.2
uv==0.6.14
